In [ ]:
import mysql.connector
from mysql.connector import Error
import csv
import time

# Database credentials
host = 'instrux.live'
user = 'intern_smartfan'
password = 'Smartfan78?INTERN'
database = 'smartfan'
port = 3306

# Define the helpdb class
class helpdb:
    def __init__(self):
        try:
            self.conn = mysql.connector.connect(
                host=host,
                user=user,
                password=password,
                database=database,
                port=port,
                connection_timeout=300  # Increase connection timeout to 5 minutes
            )
            if self.conn.is_connected():
                print("Connected to the database")
        except Error as e:
            print(f"Error while connecting to MySQL: {e}")

    def fetch(self):
        try:
            cursor = self.conn.cursor()
            query = """
            SELECT d.*, b.*
            FROM smartfan.data_bulk_onchange d
            INNER JOIN data_batch b ON b.id = d.batch_id
            WHERE fan_id = 175
            LIMIT 20000  -- Limit the number of rows fetched for testing
            """
            start_time = time.time()
            cursor.execute(query)
            rows = cursor.fetchall()
            print(f"Query executed in {time.time() - start_time} seconds")
            
            # Save data to CSV file
            with open('data.csv', mode='w', newline='') as file:
                writer = csv.writer(file)
                writer.writerow([i[0] for i in cursor.description])  # Write headers
                writer.writerows(rows)  # Write data rows

            cursor.close()
            print("Data saved to data.csv")
        except Error as e:
            print(f"Error while fetching data: {e}")
        finally:
            if self.conn.is_connected():
                self.conn.close()
                print("MySQL connection is closed")

# Create an instance of the helpdb class and fetch data
helper = helpdb()
helper.fetch()

In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv("data.csv")

In [3]:
df_column=df.columns[df.nunique()==1]
df=df.drop(columns=df_column)
df.head

<bound method NDFrame.head of            id  batch_id  timestamp  temperature  humidity  mode  speed  \
0       83558     38065   58323770         25.0      48.0     0      0
1       83559     38065   58323771          NaN       NaN     9      0
2       83560     38065   58323771          NaN       NaN     9      0
3       83561     38065   58323771          NaN       NaN     9      0
4       83562     38065   58323771          NaN       NaN     9      0
...       ...       ...        ...          ...       ...   ...    ...
19995  401569     39226   69983899         33.0      32.0     0      5
19996  401570     39226   69983930         32.0      32.0     0      5
19997  401571     39226   69984270         32.0      33.0     0      0
19998  401572     39226   69984301         32.0      37.0     0      0
19999  401573     39226   69984394         33.0      37.0     0      0

       opTime  eSpent  eSaved  timestampReal             datetime   id.1  \
0           0       0       0     1604990570  2020-11-10 11:42:50  38065
1           0       0       0     1604990571  2020-11-10 11:42:51  38065
2           0       0       0     1604990571  2020-11-10 11:42:51  38065
3           0       0       0     1604990571  2020-11-10 11:42:51  38065
4           0       0       0     1604990571  2020-11-10 11:42:51  38065
...       ...     ...     ...            ...                  ...    ...
19995      31    1488    1488     1616650699  2021-03-25 10:38:19  39226
19996     340   16320   16320     1616650730  2021-03-25 10:38:50  39226
19997       0       0       0     1616651070  2021-03-25 10:44:30  39226
19998       0       0       0     1616651101  2021-03-25 10:45:01  39226
19999       0       0       0     1616651194  2021-03-25 10:46:34  39226

       timestamp_server    datetime_datetime   datetime_timestamp
0            1605184718  2020-11-12 17:38:38  2020-11-12 17:38:38
1            1605184718  2020-11-12 17:38:38  2020-11-12 17:38:38
2            1605184718  2020-11-12 17:38:38  2020-11-12 17:38:38
3            1605184718  2020-11-12 17:38:38  2020-11-12 17:38:38
4            1605184718  2020-11-12 17:38:38  2020-11-12 17:38:38
...                 ...                  ...                  ...
19995        1617075218  2021-03-30 08:33:38  2021-03-30 08:33:38
19996        1617075218  2021-03-30 08:33:38  2021-03-30 08:33:38
19997        1617075218  2021-03-30 08:33:38  2021-03-30 08:33:38
19998        1617075218  2021-03-30 08:33:38  2021-03-30 08:33:38
19999        1617075218  2021-03-30 08:33:38  2021-03-30 08:33:38

[20000 rows x 16 columns]>

In [4]:
df.head(20)
df["datetime"] = pd.to_datetime(df["datetime"], format='%Y-%m-%d %H:%M:%S')
def get_hour(dt):
    return dt.hour
def get_month(dt):
    return dt.month
def get_year(dt):
    return dt.year

def get_min(dt):
    return dt.minute
def get_day(dt):
    return dt.day
df["year"]=df["datetime"].map(get_year)


df["month"]=df["datetime"].map(get_month)
df["day"]=df["datetime"].map(get_day)
df["hour"]=df["datetime"].map(get_hour)
df["minutes"]=df["datetime"].map(get_min)

df.head(20)

,id,batch_id,timestamp,temperature,humidity,mode,speed,opTime,eSpent,eSaved,...,datetime,id.1,timestamp_server,datetime_datetime,datetime_timestamp,year,month,day,hour,minutes
0,83558,38065,58323770,25.0,48.0,0,0,0,0,0,...,2020-11-10 11:42:50,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,10,11,42
1,83559,38065,58323771,NaN,NaN,9,0,0,0,0,...,2020-11-10 11:42:51,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,10,11,42
2,83560,38065,58323771,NaN,NaN,9,0,0,0,0,...,2020-11-10 11:42:51,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,10,11,42
3,83561,38065,58323771,NaN,NaN,9,0,0,0,0,...,2020-11-10 11:42:51,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,10,11,42
4,83562,38065,58323771,NaN,NaN,9,0,0,0,0,...,2020-11-10 11:42:51,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,10,11,42
5,83563,38065,58323771,NaN,NaN,9,0,0,0,0,...,2020-11-10 11:42:51,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,10,11,42
6,83564,38065,58323771,NaN,NaN,9,0,0,0,0,...,2020-11-10 11:42:51,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,10,11,42
7,83565,38065,58441088,30.0,29.0,0,5,31,1488,1488,...,2020-11-11 20:18:08,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,11,20,18
8,83566,38065,58441119,30.0,25.0,0,2,31,465,589,...,2020-11-11 20:18:39,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,11,20,18
9,83567,38065,58441150,30.0,29.0,0,3,148,2960,5180,...,2020-11-11 20:19:10,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,11,20,19
10,83568,38065,58441298,30.0,28.0,0,4,30,810,1110,...,2020-11-11 20:21:38,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,11,20,21
11,83569,38065,58441328,30.0,28.0,0,5,31,1488,1488,...,2020-11-11 20:22:08,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,11,20,22
12,83570,38065,58441359,30.0,25.0,0,4,31,837,1147,...,2020-11-11 20:22:39,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,11,20,22
13,83571,38065,58441390,30.0,28.0,0,4,62,1674,2294,...,2020-11-11 20:23:10,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,11,20,23
14,83572,38065,58441452,31.0,28.0,0,4,310,8370,11470,...,2020-11-11 20:24:12,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,11,20,24
15,83573,38065,58441762,31.0,25.0,0,4,217,5859,8029,...,2020-11-11 20:29:22,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,11,20,29
16,83574,38065,58441979,31.0,25.0,1,3,124,2480,4340,...,2020-11-11 20:32:59,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,11,20,32
17,83575,38065,58442103,31.0,24.0,0,3,402,8040,14070,...,2020-11-11 20:35:03,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,11,20,35
18,83576,38065,58442505,32.0,24.0,0,3,93,1860,3255,...,2020-11-11 20:41:45,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,11,20,41
19,83577,38065,58442598,32.0,24.0,0,4,63,1701,2331,...,2020-11-11 20:43:18,38065,1605184718,2020-11-12 17:38:38,2020-11-12 17:38:38,2020,11,11,20,43

In [5]:
print(df.isnull().sum())

data_frame=df.select_dtypes(include=[float,int])
data_frame=data_frame.fillna(data_frame.mean())
df.update(data_frame)
data_frame.head()

id                     0
batch_id               0
timestamp              0
temperature           79
humidity              79
mode                   0
speed                  0
opTime                 0
eSpent                 0
eSaved                 0
timestampReal          0
datetime               0
id.1                   0
timestamp_server       0
datetime_datetime      0
datetime_timestamp     0
year                   0
month                  0
day                    0
hour                   0
minutes                0
dtype: int64

,id,batch_id,timestamp,temperature,humidity,mode,speed,opTime,eSpent,eSaved,timestampReal,id.1,timestamp_server,year,month,day,hour,minutes
0,83558,38065,58323770,25.000000,48.000000,0,0,0,0,0,1604990570,38065,1605184718,2020,11,10,11,42
1,83559,38065,58323771,27.819537,40.998996,9,0,0,0,0,1604990571,38065,1605184718,2020,11,10,11,42
2,83560,38065,58323771,27.819537,40.998996,9,0,0,0,0,1604990571,38065,1605184718,2020,11,10,11,42
3,83561,38065,58323771,27.819537,40.998996,9,0,0,0,0,1604990571,38065,1605184718,2020,11,10,11,42
4,83562,38065,58323771,27.819537,40.998996,9,0,0,0,0,1604990571,38065,1605184718,2020,11,10,11,42

I will calculate the mean of the readings obtained within each minute to ensure accuracy and consistency.

In [6]:
data_frame = data_frame.groupby(['year','month','day','hour','minutes']).mean().reset_index()
data_frame.head(20)

,year,month,day,hour,minutes,id,batch_id,timestamp,temperature,humidity,mode,speed,opTime,eSpent,eSaved,timestampReal,id.1,timestamp_server
0,2020,11,10,11,42,83561.0,38065.0,5.832377e+07,27.416746,41.999139,7.714286,0.0,0.0,0.0,0.0,1.604991e+09,38065.0,1.605185e+09
1,2020,11,11,20,18,83565.5,38065.0,5.844110e+07,30.000000,27.000000,0.000000,3.5,31.0,976.5,1038.5,1.605108e+09,38065.0,1.605185e+09
2,2020,11,11,20,19,83567.0,38065.0,5.844115e+07,30.000000,29.000000,0.000000,3.0,148.0,2960.0,5180.0,1.605108e+09,38065.0,1.605185e+09
3,2020,11,11,20,21,83568.0,38065.0,5.844130e+07,30.000000,28.000000,0.000000,4.0,30.0,810.0,1110.0,1.605108e+09,38065.0,1.605185e+09
4,2020,11,11,20,22,83569.5,38065.0,5.844134e+07,30.000000,26.500000,0.000000,4.5,31.0,1162.5,1317.5,1.605108e+09,38065.0,1.605185e+09
5,2020,11,11,20,23,83571.0,38065.0,5.844139e+07,30.000000,28.000000,0.000000,4.0,62.0,1674.0,2294.0,1.605108e+09,38065.0,1.605185e+09
6,2020,11,11,20,24,83572.0,38065.0,5.844145e+07,31.000000,28.000000,0.000000,4.0,310.0,8370.0,11470.0,1.605108e+09,38065.0,1.605185e+09
7,2020,11,11,20,29,83573.0,38065.0,5.844176e+07,31.000000,25.000000,0.000000,4.0,217.0,5859.0,8029.0,1.605109e+09,38065.0,1.605185e+09
8,2020,11,11,20,32,83574.0,38065.0,5.844198e+07,31.000000,25.000000,1.000000,3.0,124.0,2480.0,4340.0,1.605109e+09,38065.0,1.605185e+09
9,2020,11,11,20,35,83575.0,38065.0,5.844210e+07,31.000000,24.000000,0.000000,3.0,402.0,8040.0,14070.0,1.605109e+09,38065.0,1.605185e+09
10,2020,11,11,20,41,83576.0,38065.0,5.844250e+07,32.000000,24.000000,0.000000,3.0,93.0,1860.0,3255.0,1.605109e+09,38065.0,1.605185e+09
11,2020,11,11,20,43,83577.0,38065.0,5.844260e+07,32.000000,24.000000,0.000000,4.0,63.0,1701.0,2331.0,1.605109e+09,38065.0,1.605185e+09
12,2020,11,11,20,44,83578.0,38065.0,5.844266e+07,27.819537,40.998996,9.000000,0.0,0.0,0.0,0.0,1.605109e+09,38065.0,1.605185e+09
13,2020,11,11,20,45,83579.0,38065.0,5.844273e+07,31.000000,25.000000,0.000000,4.0,62.0,1674.0,2294.0,1.605110e+09,38065.0,1.605185e+09
14,2020,11,11,20,46,83580.0,38065.0,5.844280e+07,32.000000,25.000000,0.000000,3.0,31.0,620.0,1085.0,1.605110e+09,38065.0,1.605185e+09
15,2020,11,11,20,47,83581.5,38065.0,5.844284e+07,31.500000,24.500000,0.000000,4.0,62.0,1674.0,2294.0,1.605110e+09,38065.0,1.605185e+09
16,2020,11,11,20,49,83583.5,38065.0,5.844297e+07,32.000000,24.500000,0.000000,1.0,15.5,232.5,294.5,1.605110e+09,38065.0,1.605185e+09
17,2020,11,11,20,50,83585.0,38065.0,5.844301e+07,32.000000,24.000000,0.000000,0.0,0.0,0.0,0.0,1.605110e+09,38065.0,1.605185e+09
18,2020,11,11,20,51,83586.0,38065.0,5.844310e+07,32.000000,27.000000,0.000000,0.0,0.0,0.0,0.0,1.605110e+09,38065.0,1.605185e+09
19,2020,11,11,20,52,83587.5,38065.0,5.844315e+07,32.500000,34.000000,0.000000,0.0,0.0,0.0,0.0,1.605110e+09,38065.0,1.605185e+09

In [7]:
speed_modes = df.groupby(['year', 'month', 'day', 'hour', 'minutes'])['speed'].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else None).reset_index()

# Merge the mode of 'speed' back into the grouped DataFrame
data_frame = pd.merge(data_frame, speed_modes, on=['year', 'month', 'day', 'hour', 'minutes'], suffixes=('', '_mode'))

# Rename the 'speed_mode' column to 'new_speed'
data_frame.rename(columns={'speed_mode': 'new_speed'}, inplace=True)

# Drop the original 'speed' column if it exists
if 'speed' in data_frame.columns:
    data_frame = data_frame.drop('speed', axis=1)
data_frame.head()

,year,month,day,hour,minutes,id,batch_id,timestamp,temperature,humidity,mode,opTime,eSpent,eSaved,timestampReal,id.1,timestamp_server,new_speed
0,2020,11,10,11,42,83561.0,38065.0,5.832377e+07,27.416746,41.999139,7.714286,0.0,0.0,0.0,1.604991e+09,38065.0,1.605185e+09,0
1,2020,11,11,20,18,83565.5,38065.0,5.844110e+07,30.000000,27.000000,0.000000,31.0,976.5,1038.5,1.605108e+09,38065.0,1.605185e+09,2
2,2020,11,11,20,19,83567.0,38065.0,5.844115e+07,30.000000,29.000000,0.000000,148.0,2960.0,5180.0,1.605108e+09,38065.0,1.605185e+09,3
3,2020,11,11,20,21,83568.0,38065.0,5.844130e+07,30.000000,28.000000,0.000000,30.0,810.0,1110.0,1.605108e+09,38065.0,1.605185e+09,4
4,2020,11,11,20,22,83569.5,38065.0,5.844134e+07,30.000000,26.500000,0.000000,31.0,1162.5,1317.5,1.605108e+09,38065.0,1.605185e+09,4

For minutes with missing readings in the dataset, I will create a row for that minute by using values from the preceding rows because sytem take reading when it change.

In [9]:

i = 0

while True:
    if i >= len(data_frame) - 1:
        break

    # For month if year is the same
    if (data_frame.iloc[i].month < data_frame.iloc[i + 1].month) & (data_frame.iloc[i].year == data_frame.iloc[i + 1].year):
        new_rows = []
        input_data = data_frame.iloc[i].copy()
        for days in range(1, 30 - data_frame.iloc[i].day + 1):
            for hou in range(24):
                for min in range(60):
                    new_row = input_data.copy()
                    new_row['day'] = data_frame.iloc[i].day + days
                    new_row['hour'] = hou
                    new_row['minutes'] = min
                    new_rows.append(new_row)

        new_rows_df = pd.DataFrame(new_rows)
        data_frame = pd.concat([
            data_frame.iloc[:i + 1],
            new_rows_df,
            data_frame.iloc[i + 1:]
        ]).reset_index(drop=True)

        i += len(new_rows)
        # Calculate the number of days to fill
        no_input_layer = data_frame.iloc[i + 1].month - data_frame.iloc[i].month - 1

        # Add rows for each missing day and for each day add rows for all 24 hour and minutes
        new_rows = []
        for mont in range(1, no_input_layer +1):
            for dayss in range(1,30):
                for hourss in range(1, 24):
                    for min in range(1,60):
                        new_row = input_data.copy()
                        new_row['month']=data_frame.iloc[i].month +mont
                        new_row['day']= dayss
                        new_row['hour'] = hourss
                        new_row['minutes'] = min
                        new_rows.append(new_row)

        # Convert new_rows list to DataFrame
        new_rows_df = pd.DataFrame(new_rows)

        # Insert new rows into the DataFrame
        data_frame = pd.concat([
            data_frame.iloc[:i + 1],
            new_rows_df,
            data_frame.iloc[i + 1:]
        ]).reset_index(drop=True)
        i += len(new_rows)

    # For days if month is the same
    if (data_frame.iloc[i].day < data_frame.iloc[i + 1].day) & (data_frame.iloc[i].month == data_frame.iloc[i + 1].month):
        new_rows = []
        input_data = data_frame.iloc[i].copy()
        for j in range(1, 24 - int(data_frame.iloc[i].hour) + 1):
            for k in range(60):
                new_row = input_data.copy()
                new_row['hour'] = int(data_frame.iloc[i].hour) + j
                new_row['minutes'] = k
                new_rows.append(new_row)

        new_rows_df = pd.DataFrame(new_rows)
        data_frame = pd.concat([
            data_frame.iloc[:i + 1],
            new_rows_df,
            data_frame.iloc[i + 1:]
        ]).reset_index(drop=True)

        i += len(new_rows)
# Calculate the number of days to fill
        no_input_layer = data_frame.iloc[i + 1].day - data_frame.iloc[i].day - 1

            # Add rows for each missing day and for each day add rows for all 24 hour and minutes
        new_rows = []
        for m in range(1,int(no_input_layer)+1):
            for j in range(1, 24):
                for k in range(1,60):
                    new_row = input_data.copy()
                    new_row['day']=data_frame.iloc[i].day + m
                    new_row['hour'] = j
                    new_row['minutes'] = k
                    new_rows.append(new_row)

        # Convert new_rows list to DataFrame
        new_rows_df = pd.DataFrame(new_rows)

        # Insert new rows into the DataFrame
        data_frame = pd.concat([
            data_frame.iloc[:i + 1],
            new_rows_df,
            data_frame.iloc[i + 1:]
        ]).reset_index(drop=True)
        i += len(new_rows)

    # For hour if days are the same
    if (data_frame.iloc[i].hour < data_frame.iloc[i + 1].hour) & (data_frame.iloc[i].day == data_frame.iloc[i + 1].day):
        new_rows = []
        input_data = data_frame.iloc[i].copy()
        for j in range(1, 60 - int(data_frame.iloc[i].minutes) + 1):
            new_row = input_data.copy()
            new_row['minutes'] = int(data_frame.iloc[i].minutes) + j
            new_rows.append(new_row)

        new_rows_df = pd.DataFrame(new_rows)
        data_frame = pd.concat([
            data_frame.iloc[:i + 1],
            new_rows_df,
            data_frame.iloc[i + 1:]
        ]).reset_index(drop=True)

        i += len(new_rows)
        no_input_layer = data_frame.iloc[i + 1].hour - data_frame.iloc[i].hour - 1

        # Add rows for each missing hour and for each hour add rows for all 60 minutes
        new_rows = []
        for j in range(1, int(no_input_layer) + 1):
            for k in range(60):
                new_row = input_data.copy()
                new_row['hour'] = data_frame.iloc[i].hour + j
                new_row['minutes'] = k
                new_rows.append(new_row)

        # Convert new_rows list to DataFrame
        new_rows_df = pd.DataFrame(new_rows)

        # Insert new rows into the DataFrame
        data_frame = pd.concat([
            data_frame.iloc[:i + 1],
            new_rows_df,
            data_frame.iloc[i + 1:]
        ]).reset_index(drop=True)
        i += len(new_rows)
        

    # For minutes if hour is the same
    if data_frame.iloc[i].minutes != data_frame.iloc[i + 1].minutes + 1:
        if (data_frame.iloc[i].minutes < data_frame.iloc[i + 1].minutes) & (data_frame.iloc[i].hour == data_frame.iloc[i + 1].hour):
            no_input_layer = int(data_frame.iloc[i + 1].minutes) - int(data_frame.iloc[i].minutes) - 1
            input_data = data_frame.iloc[i].copy()
            new_rows = []
            for j in range(1, no_input_layer + 1):
                new_row = input_data.copy()
                new_row['minutes'] = int(data_frame.iloc[i].minutes) + j
                new_rows.append(new_row)

            new_rows_df = pd.DataFrame(new_rows)
            data_frame = pd.concat([
                data_frame.iloc[:i + 1],
                new_rows_df,
                data_frame.iloc[i + 1:]
            ]).reset_index(drop=True)
        i += len(new_rows)

    i += 1

print(data_frame)

         year  month   day  hour  minutes        id  batch_id     timestamp  \
0      2020.0   11.0  10.0  11.0     42.0   83561.0   38065.0  5.832377e+07
1      2020.0   11.0  10.0  12.0      0.0   83561.0   38065.0  5.832377e+07
2      2020.0   11.0  10.0  12.0      1.0   83561.0   38065.0  5.832377e+07
3      2020.0   11.0  10.0  12.0      2.0   83561.0   38065.0  5.832377e+07
4      2020.0   11.0  10.0  12.0      3.0   83561.0   38065.0  5.832377e+07
...       ...    ...   ...   ...      ...       ...       ...           ...
58582  2021.0    3.0  25.0  10.0     42.0  401569.5   39226.0  6.998391e+07
58583  2021.0    3.0  25.0  10.0     43.0  401569.5   39226.0  6.998391e+07
58584  2021.0    3.0  25.0  10.0     44.0  401571.0   39226.0  6.998427e+07
58585  2021.0    3.0  25.0  10.0     45.0  401572.0   39226.0  6.998430e+07
58586  2021.0    3.0  25.0  10.0     46.0  401573.0   39226.0  6.998439e+07

       temperature   humidity      mode  opTime  eSpent  eSaved  \
0        27.416746  41.999139  7.714286     0.0     0.0     0.0
1        27.416746  41.999139  7.714286     0.0     0.0     0.0
2        27.416746  41.999139  7.714286     0.0     0.0     0.0
3        27.416746  41.999139  7.714286     0.0     0.0     0.0
4        27.416746  41.999139  7.714286     0.0     0.0     0.0
...            ...        ...       ...     ...     ...     ...
58582    32.500000  32.000000  0.000000   185.5  8904.0  8904.0
58583    32.500000  32.000000  0.000000   185.5  8904.0  8904.0
58584    32.000000  33.000000  0.000000     0.0     0.0     0.0
58585    32.000000  37.000000  0.000000     0.0     0.0     0.0
58586    33.000000  37.000000  0.000000     0.0     0.0     0.0

       timestampReal     id.1  timestamp_server  new_speed
0       1.604991e+09  38065.0      1.605185e+09        0.0
1       1.604991e+09  38065.0      1.605185e+09        0.0
2       1.604991e+09  38065.0      1.605185e+09        0.0
3       1.604991e+09  38065.0      1.605185e+09        0.0
4       1.604991e+09  38065.0      1.605185e+09        0.0
...              ...      ...               ...        ...
58582   1.616651e+09  39226.0      1.617075e+09        5.0
58583   1.616651e+09  39226.0      1.617075e+09        5.0
58584   1.616651e+09  39226.0      1.617075e+09        0.0
58585   1.616651e+09  39226.0      1.617075e+09        0.0
58586   1.616651e+09  39226.0      1.617075e+09        0.0

[58587 rows x 18 columns]

In [12]:
print(len(data_frame))
data_frame.head(100)

58587

,year,month,day,hour,minutes,id,batch_id,timestamp,temperature,humidity,mode,opTime,eSpent,eSaved,timestampReal,id.1,timestamp_server,new_speed
0,2020.0,11.0,10.0,11.0,42.0,83561.0,38065.0,5.832377e+07,27.416746,41.999139,7.714286,0.0,0.0,0.0,1.604991e+09,38065.0,1.605185e+09,0.0
1,2020.0,11.0,10.0,12.0,0.0,83561.0,38065.0,5.832377e+07,27.416746,41.999139,7.714286,0.0,0.0,0.0,1.604991e+09,38065.0,1.605185e+09,0.0
2,2020.0,11.0,10.0,12.0,1.0,83561.0,38065.0,5.832377e+07,27.416746,41.999139,7.714286,0.0,0.0,0.0,1.604991e+09,38065.0,1.605185e+09,0.0
3,2020.0,11.0,10.0,12.0,2.0,83561.0,38065.0,5.832377e+07,27.416746,41.999139,7.714286,0.0,0.0,0.0,1.604991e+09,38065.0,1.605185e+09,0.0
4,2020.0,11.0,10.0,12.0,3.0,83561.0,38065.0,5.832377e+07,27.416746,41.999139,7.714286,0.0,0.0,0.0,1.604991e+09,38065.0,1.605185e+09,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2020.0,11.0,10.0,13.0,34.0,83561.0,38065.0,5.832377e+07,27.416746,41.999139,7.714286,0.0,0.0,0.0,1.604991e+09,38065.0,1.605185e+09,0.0
96,2020.0,11.0,10.0,13.0,35.0,83561.0,38065.0,5.832377e+07,27.416746,41.999139,7.714286,0.0,0.0,0.0,1.604991e+09,38065.0,1.605185e+09,0.0
97,2020.0,11.0,10.0,13.0,36.0,83561.0,38065.0,5.832377e+07,27.416746,41.999139,7.714286,0.0,0.0,0.0,1.604991e+09,38065.0,1.605185e+09,0.0
98,2020.0,11.0,10.0,13.0,37.0,83561.0,38065.0,5.832377e+07,27.416746,41.999139,7.714286,0.0,0.0,0.0,1.604991e+09,38065.0,1.605185e+09,0.0
99,2020.0,11.0,10.0,13.0,38.0,83561.0,38065.0,5.832377e+07,27.416746,41.999139,7.714286,0.0,0.0,0.0,1.604991e+09,38065.0,1.605185e+09,0.0

In [14]:
data_frame.to_csv("data.csv", index=False)

Applying model for predict speed

In [13]:
# model classiefier
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB




X = data_frame[['temperature', 'humidity']]
y = data_frame['new_speed']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


classifiers = [
    ('Logistic Regression', LogisticRegression()),
    ('Decision Tree', DecisionTreeClassifier()),
    ('Random Forest', RandomForestClassifier()),
    ('Support Vector Machine', SVC()),
    ('K-Nearest Neighbors', KNeighborsClassifier()),
    ('Naive Bayes', GaussianNB())
]


results = {}


for name, clf in classifiers:
    

    pipeline = make_pipeline(StandardScaler(), clf)

    scores = cross_val_score(pipeline, X_train, y_train, cv=5, scoring='accuracy')

    pipeline.fit(X_train, y_train)

    y_pred = pipeline.predict(X_test)

    test_accuracy = accuracy_score(y_test, y_pred)

    results[name] = {
        'cross_val_mean_accuracy': scores.mean(),
        'test_accuracy': test_accuracy
    }
    pre=pipeline.predict([[29,40]])
    print(f"{name} pridcition is {pre}")


best_classifier = max(results, key=lambda k: results[k]['cross_val_mean_accuracy'])



print("Results:")

for name, metrics in results.items():
    print(f"{name}: Cross-validation mean accuracy = {metrics['cross_val_mean_accuracy']:.4f}, Test accuracy = {metrics['test_accuracy']:.4f}")

print(f"\nBest classifier: {best_classifier} with cross-validation mean accuracy = {results[best_classifier]['cross_val_mean_accuracy']:.4f}")

C:\Users\Dell\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

Logistic Regression pridcition is [0.]

C:\Users\Dell\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

Decision Tree pridcition is [0.]

C:\Users\Dell\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

Random Forest pridcition is [0.]

C:\Users\Dell\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

Support Vector Machine pridcition is [0.]
K-Nearest Neighbors pridcition is [0.]
Naive Bayes pridcition is [0.]
Results:
Logistic Regression: Cross-validation mean accuracy = 0.6674, Test accuracy = 0.6614
Decision Tree: Cross-validation mean accuracy = 0.8237, Test accuracy = 0.8234
Random Forest: Cross-validation mean accuracy = 0.8243, Test accuracy = 0.8234
Support Vector Machine: Cross-validation mean accuracy = 0.7116, Test accuracy = 0.7048
K-Nearest Neighbors: Cross-validation mean accuracy = 0.8080, Test accuracy = 0.8042
Naive Bayes: Cross-validation mean accuracy = 0.7008, Test accuracy = 0.6999

Best classifier: Random Forest with cross-validation mean accuracy = 0.8243

C:\Users\Dell\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\Dell\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(